header {
	background: #BBBBBB;
	width: 100%;
}
.logo {
	width: 5%;
	margin-left: 40px;
}

.titulo {
	font-size: 16px;
	margin-left: 25px;
	margin-top: -30px;
	color: black;
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
}
nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}