header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.logo {
	width: 6%;
	margin-left: 40px;
}

.titulo {
	font-size: 12px;
	margin-left: 20px;
	margin-top: 0px;
	color: black;
}

nav { 
	position: absolute;
	top: 19px;
	right: 0;

}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}